.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-btn {
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
}

.map-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
}

.map-item {
    width: 150px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s;
}

.map-item:hover {
    transform: scale(1.05);
}

.map-item.selected {
    border-color: lime;
}
